name: Cypress Tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        env:
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
      - name: Cypress run
        uses: cypress-io/github-action@v6
      - uses: actions/download-artifact@v4
        with:
          name: cypress-reports
          path: cypress/reports
      - uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos
          if-no-files-found: ignore